:root{
    --mainColor:#366ed4;
    --secondaryColor:#8097fa;

    --borderColor:#164d56;

    --mainText:#fff;
    --secondaryText:#eeeeee;

    --themeDotBorder:#24292e;

    --previewBg:rgb(25, 39, 52, 0.8);
    --previewShadow:#111921;

    --buttonColor:#17a2b8;
}